#welcome_card{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  min-height: 500px;
  min-width: 500px;


}
#login_card{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  min-height: 500px;
  min-width: 500px;


}
